extends layout

block content
  main
    div#view
      h1.text-center= title
      p.text-center Welcome to #{title}
      ul
        each val in folders
          li.thumb
            span(class = val.thumb)
            a(href=val.fileName)= val.fileName 