extends layout

block content
  main
    div#view
      h1.text-center= title
      p.text-center ЁЯЩПЁЯП╗ родрооро┐ро┤ро░рпН роХро│ро▒ро┐роХрпНроХрпБ роЕройрпНрокрпБроЯройрпН ро╡ро░ро╡рпЗро▒рпНроХро┐ро▒рпЛроорпН ЁЯЩПЁЯП╗
      ul
        each val in folders
          a(href=val.fileName)
            li.thumb
              span(class = val.thumb)
              span(class = 'text-holder')= val.fileName