doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/bootstrap.min.css')
    link(rel='stylesheet', href='/stylesheets/all.min.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel='icon', type='image/png', href='/images/favicon.png' )
  body
    block header
      header#header
        div.header-holder
            div.logo.float-left
              img#logo(src='/images/tamilskalary.png', title='நூலகம்')
            div.search.float-right
              input.btn.btn-default.search-btn(type='button', value='search...', data-toggle='modal', data-target='#searchModal')
            div.clearfix

    block content

    block footer
      footer#footer
        p.copy-rights Copyright &copy; 2019 | தமிழர் களறி  -  நூலகம்

    block modal
      div#searchModal.modal.fade(tabindex='-1' role='dialog' aria-labelledby='searchModalLabel' aria-hidden='true')
        div.modal-dialog(role='document')
          div.modal-content
            div.modal-header
              input#search.form-control.search-box(type="text", placeholder="search...")
            div.modal-body
              div.search-overlay(style='display: none')
                img.loader(src='/images/loader.gif', alt='Loading...')
              ul.innerList
            div.modal-footer
              button.btn.btn-secondary(type='button' data-dismiss='modal') Close

    block scripts
      script(src='/js/jquery-min.js')
      script(src='/js/popper.min.js')
      script(src='/js/bootstrap.min.js')
      script(src='/js/e-lib.js')
